/* Add CSS Styling */

/* 
div p {
    background-color: yellow;
    font-size: 20px;
    color: red;
    text-align: center;
}
*/

.container .text {
    background-color: yellow;
    font-size: 20px;
    color: red;
    text-align: center;
}